In [15]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
import requests
import json
from pathlib import Path
from scipy import stats

In [23]:
# Store filepaths into variable
flight_data_csv = "Flight_on_time_HIX.csv"
cities = "airports.csv"

In [17]:
# Load Flight Data
flight_data_df = pd.read_csv(flight_data_csv)
flight_data_df.head()

,Airline,Flight_Number,Plane_ID,FlightDate,Origin_Airport,Destination_Airport,Flight_Distance,Scheduled_Departure_Time,Actual_Departure_Time,Departure_Delay_Minutes,Departure_Taxi,Departure_WheelsOff,Scheduled_Arrival_Time,Actual_Arrival_Time,Arrival_Delay_Minutes,Arrival_Taxi,Arrival_WheelsOn,Delay_Reason
0,TR,4135,GJLOAB,12/1/2019,IYF,HIX,678,1,103,62,15,118,127,219,52,7,212,LateAircraft
1,TR,3776,GDISCI,12/1/2019,HEN,HIX,1700,10,25,15,21,46,616,624,8,27,557,NaN
2,RO,4754,GHHWLL,12/1/2019,HIX,IZN,413,10,10,0,15,25,242,227,0,5,222,NaN
3,XM,5604,GBGWFC,12/1/2019,HIX,IZU,130,10,44,34,34,118,111,155,44,4,151,Weather
4,XM,5612,GBISBC,12/1/2019,HIX,LKF,258,10,234,144,26,300,132,358,146,6,352,Carrier

In [24]:
cities_df = pd.read_csv(cities)
cities_df.head()

  code       city                         airport           country
0  AAA       Anaa                            Anaa  French Polynesia
1  AAB   Arrabury                        Arrabury         Australia
2  AAC      Arish  El Arish International Airport             Egypt
3  AAD  Ad-Dabbah                       Ad-Dabbah             Sudan
4  AAE     Annaba                     Les Salines           Algeria

In [35]:
def find_city_name(row, column, df):
    value_to_find = row[column]
    matching_row = df[df['code'] == value_to_find]

    if not matching_row.empty:
        return matching_row['city'].values[0]
    else:
        return None


flight_data_df['origin_city'] = flight_data_df.apply(find_city_name, args=("Origin_Airport",cities_df), axis=1)

flight_data_df['destination_city'] = flight_data_df.apply(find_city_name, args=("Destination_Airport",cities_df), axis=1)

In [36]:
flight_data_df.head(20)

,Airline,Flight_Number,Plane_ID,FlightDate,Origin_Airport,Destination_Airport,Flight_Distance,Scheduled_Departure_Time,Actual_Departure_Time,Departure_Delay_Minutes,...,Departure_WheelsOff,Scheduled_Arrival_Time,Actual_Arrival_Time,Arrival_Delay_Minutes,Arrival_Taxi,Arrival_WheelsOn,Delay_Reason,origin_city,matching_value_column2,destination_city
0,TR,4135,GJLOAB,12/1/2019,IYF,HIX,678,1,103,62,...,118,127,219,52,7,212,LateAircraft,None,None,Hiva Oa
1,TR,3776,GDISCI,12/1/2019,HEN,HIX,1700,10,25,15,...,46,616,624,8,27,557,NaN,Hendon,Hendon,Hiva Oa
2,RO,4754,GHHWLL,12/1/2019,HIX,IZN,413,10,10,0,...,25,242,227,0,5,222,NaN,Hiva Oa,Hiva Oa,None
3,XM,5604,GBGWFC,12/1/2019,HIX,IZU,130,10,44,34,...,118,111,155,44,4,151,Weather,Hiva Oa,Hiva Oa,None
4,XM,5612,GBISBC,12/1/2019,HIX,LKF,258,10,234,144,...,300,132,358,146,6,352,Carrier,Hiva Oa,Hiva Oa,None
5,XM,5615,GBJODX,12/1/2019,HIX,MPM,475,10,144,94,...,155,249,418,89,4,414,Carrier,Hiva Oa,Hiva Oa,Maputo
6,XM,5661,GBESAF,12/1/2019,HIX,EZN,552,10,14,4,...,38,206,219,13,11,208,NaN,Hiva Oa,Hiva Oa,None
7,CA,6526,GCDTFM,12/1/2019,TLM,HIX,977,10,22,12,...,40,259,252,0,10,242,NaN,Tlemcen,Tlemcen,Hiva Oa
8,CA,7201,GBDVFM,12/1/2019,UKP,HIX,763,10,2358,0,...,22,202,138,0,6,132,NaN,None,None,Hiva Oa
9,NR,3741,GDJRDD,12/1/2019,HIX,FJS,836,10,3,0,...,17,234,226,0,3,223,NaN,Hiva Oa,Hiva Oa,None
10,NR,3535,GEKWHO,12/1/2019,HIX,LRN,1041,10,55,45,...,106,310,334,24,4,330,Carrier,Hiva Oa,Hiva Oa,Moses Lake (WA)
11,NR,2895,GGFVEG,12/1/2019,HIX,UFM,867,10,29,19,...,50,325,336,11,4,332,NaN,Hiva Oa,Hiva Oa,None
12,SN,6159,GEENNK,12/1/2019,HIX,XMP,272,10,121,71,...,138,126,234,68,4,230,LateAircraft,Hiva Oa,Hiva Oa,Macmillan Pass
13,SN,6143,GEJTNK,12/1/2019,HIX,VFO,315,10,236,146,...,250,141,347,126,5,342,LateAircraft,Hiva Oa,Hiva Oa,None
14,ZH,5902,GFHSTX,12/1/2019,HIX,FJH,109,10,139,89,...,149,107,223,76,6,217,LateAircraft,Hiva Oa,Hiva Oa,None
15,ZH,5822,GFDRTX,12/1/2019,HIX,VZX,196,10,227,137,...,243,121,325,124,6,319,LateAircraft,Hiva Oa,Hiva Oa,None
16,SN,5243,GEJNNK,12/1/2019,HIX,VNU,213,10,9,0,...,25,121,119,0,15,104,NaN,Hiva Oa,Hiva Oa,None
17,SN,5190,GEETNK,12/1/2019,HIX,TQI,122,10,23,13,...,39,206,211,5,5,206,NaN,Hiva Oa,Hiva Oa,None
18,SN,5187,GEJRNK,12/1/2019,HIX,KJN,268,10,3,0,...,18,132,108,0,3,105,NaN,Hiva Oa,Hiva Oa,None
19,XM,5607,GBGOXF,12/1/2019,HIX,KZW,642,15,100,45,...,121,320,408,48,11,357,Carrier,Hiva Oa,Hiva Oa,None